/*scss*/
/*CSS*/
/* Normalize */
* {
  box-sizing: border-box; }

/* Don't forget <picture> for RWD img sprite */
img, video {
  max-width: 100%;
  height: auto; }

/* Layout */
header {
  grid-area: header; }

.container {
  grid-area: container;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

footer {
  grid-area: footer; }

.grid-container {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas: "header" "container" "footer"; }

/*==================
 *== Contact Page ==
 *==================*/
/* Contact Form */
.form-message {
  margin-bottom: 1.5rem; }

/* Aside */
aside > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

/*==================
 *== Confirm Page ==
 *==================*/
.message-confirmation {
  background-color: white; }

/*===================
 *== Media Queries ==
 *===================*/
@media (min-width: 992px) {
  /* Contact Form */
  .form-contact {
    display: flex;
    flex-flow: row wrap; }

  .form-message {
    min-height: 21rem; } }
